.metadata
mm/assignment3.edit/
mm/assignment3.editor/
mm/assignment3.tests/
mm/assignment3/bin/
mm/assignment3b_platoon/xtend-gen/
mm/assignment3b_platoon/src-gen/
mm/assignment3/build.properties
mm/assignment3/src/
mm/assignment3b_boundingbox.ide/src-gen/
mm/assignment3b_boundingbox.ide/bin/
mm/assignment3b_boundingbox.ui/bin/
mm/assignment3b_boundingbox.ui/xtend-gen/
mm/assignment3b_boundingbox/bin/
mm/assignment3b_boundingbox/xtend-gen/
mm/assignment3b_boundingbox/src-gen/
mm/assignment3b_platoon.ide/bin/
mm/assignment3b_platoon.ide/src-gen
mm/assignment3b_boundingbox.ui/src
mm/assignment3b_platoon.ui/xtend-gen/
mm/assignment3b_boundingbox/src/nl/tue/glt/*/
mm/assignment3b_boundingbox.ui/src-gen/
mm/assignment3b_platoon.ui/bin/
mm/assignment3b_platoon.ui/src/
mm/assignment3b_platoon.ui/src-gen/
mm/assignment3b_platoon/bin/
mm/assignment3b_platoon/src/nl/tue/glt/*/
.classpath
build.properties
.project
.settings/
MANIFEST.MF
mm/assignment3b_platoon/.antlr-generator-3.2.0-patch.jar
mm/assignment3b_boundingbox/.antlr-generator-3.2.0-patch.jar
mm/assignment3b_boundingbox/src/nl/tue/glt/BoundingBoxRuntimeModule.xtend
mm/assignment3b_boundingbox/src/nl/tue/glt/BoundingBoxStandaloneSetup.xtend
mm/assignment3b_platoon/src/nl/tue/glt/PlatoonRuntimeModule.xtend
mm/assignment3b_platoon/src/nl/tue/glt/PlatoonStandaloneSetup.xtend
mm/assignment3b_platoon.ui/plugin.xml
mm/assignment3b_platoon.ui/plugin.xml_gen
