<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Platoon -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="platoon.presentation.PlatoonModelWizardID"
            name="%_UI_PlatoonModelWizard_label"
            class="platoon.presentation.PlatoonModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PlatoonModelFile.gif">
         <description>%_UI_PlatoonModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Platoon -->
      <editor
            id="platoon.presentation.PlatoonEditorID"
            name="%_UI_PlatoonEditor_label"
            icon="icons/full/obj16/PlatoonModelFile.gif"
            extensions="platoon"
            class="platoon.presentation.PlatoonEditor"
            contributorClass="platoon.presentation.PlatoonActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated BoundingBox -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="boundingbox.presentation.BoundingboxModelWizardID"
            name="%_UI_BoundingboxModelWizard_label"
            class="boundingbox.presentation.BoundingboxModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BoundingboxModelFile.gif">
         <description>%_UI_BoundingboxModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated BoundingBox -->
      <editor
            id="boundingbox.presentation.BoundingboxEditorID"
            name="%_UI_BoundingboxEditor_label"
            icon="icons/full/obj16/BoundingboxModelFile.gif"
            extensions="boundingbox"
            class="boundingbox.presentation.BoundingboxEditor"
            contributorClass="boundingbox.presentation.BoundingboxActionBarContributor">
      </editor>
   </extension>
</plugin>
