<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BoundingBox -->
      <package
            uri="boundingbox"
            class="boundingbox.BoundingboxPackage"
            genModel="model/BoundingBox.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Platoon -->
      <package
            uri="platoon"
            class="platoon.PlatoonPackage"
            genModel="model/Platoon.genmodel"/>
   </extension>

</plugin>
